#*
*#
*.swp
*~
.DS_Store
.blobs
.blobs/
.dev_builds/
.final_builds/
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
.vagrant
blobs/*
config/dev.yml
config/private.yml
config/settings.yml
dev_releases/
my*.yml
releases/*.tgz
src/*
!src/rdpg-acceptance-tests
!src/rdpg-integration-tests
!src/rdpgd
!src/.gitkeep
!src/rdpg-backup-tests
manifests/*
stemcells/*
tmp/
releases/rdpg/*.tgz
credentials.yml
release
rdpg.pem
templates/s3.yml
