export GOPATH="$PWD/Godeps/_workspace/"
mkdir -p ${GOPATH}/src/github.com/starkandwayne
if ! [[ -L ${GOPATH}/src/github.com/starkandwayne/rdpgd ]]
then ln -sf ${PWD} ${GOPATH}/src/github.com/starkandwayne/rdpgd
fi
